html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    /* background-image: url('../images/christozov-crVn1gULWZ8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased; */
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

.d-inline-block {
    padding-right: 10px;
}

.container {
    padding: 20px;
    height: 100%;
    margin: auto;
}

#login {
    background-color: white;
    text-align: center;
    margin: 20px;
}

.abcRioButtonBlue {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about {
    text-align: start;
    vertical-align: middle;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.582);
    padding-top: 150px;
    padding-bottom: 100px;
}

#teacher, #student, #assignments, #students, #past, #present, #future, #student-buttons {
    background-color: white;
    margin: auto;
    text-align: center;
}

#yourclasses {
    background-color: #75A878;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
}

.nav-link {
    color: white;
}

#logout {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin: 5px;
    width: 50%;
}

button:hover {
    background-color: lightgray;
}

#admin a {
    color: navy;
}

.back:hover, .nav-link:hover {
    color: lightgray;
}

.back {
    /* color: whitesmoke; */
}

#backicon {
    margin: 10px;
}

.col-6, .col-12 {
    text-align: center;
}

aside {
    background-color: #F4B339;
    overflow: hidden;
}

aside a {
    color: black;
}


#student-buttons button {
    width: 100%;
}

#by-assignment {

}

#by-assignment [class*="col-"] {
    
}

#landing, #login-holder {
    background-image: url('/static/images/backs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}


/* green #75A878 blue #3E8689 yellow #F4B339 */