<! doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" id="favicon" 
    href="/static/images/MetacognizantLogoTiny.png">

    <script crossorigin 
    src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin 
    src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin 
    src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js">
    </script>

    <title>Metacognizant</title>
  </head>

  <body>
    <div id="app"></div>
    <script src='/static/js/metacognizant.jsx' type="text/jsx"></script>
  </body>
</html>