<! doctype html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
      content="43951011110-a6h3g2mrqr9cg1r2ipor23gpt10uoadc.apps.googleusercontent.com">

    <link rel="icon" id="favicon" href="/static/images/MetacognizantLogoTiny.png">

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js">
    </script>
    <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js">
    </script>
    <script src="https://moment.github.io/luxon/global/luxon.min.js"></script>

    <script>
      function init() {
        gapi.load('auth2', function () {
          /* Ready. Make a call to gapi.auth2.init or some other API */
        });
      }
      // function onSignIn(googleUser) {
      //   var profile = googleUser.getBasicProfile();
      //   console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      //   console.log('Name: ' + profile.getName());
      //   console.log('Image URL: ' + profile.getImageUrl());
      //   console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
      // }
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    <script src='/static/js/overview.jsx' type="text/jsx"></script>
    <script src='/static/js/section.jsx' type="text/jsx"></script>
    <script src='/static/js/assignment.jsx' type="text/jsx"></script>
    <script src='/static/js/app.jsx' type="text/jsx"></script>

    <title>Metacognizant</title>
  </head>

  <body>
    <div id="app"></div>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

  </body>

  </html>