<! doctype html>
  <html lang="en">
  <html itemscope itemtype="http://schema.org/Article">

  </html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
      content="43951011110-a6h3g2mrqr9cg1r2ipor23gpt10uoadc.apps.googleusercontent.com">

    <link rel="icon" id="favicon" href="/static/images/MetacognizantLogoTiny.png">

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js">
    </script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js">
    </script>
    <script crossorigin 
    src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js">
    </script>
    <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js">
    </script>
    <script src="https://moment.github.io/luxon/global/luxon.min.js"></script>

    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>

    <script src='/static/js/login.jsx' type="text/jsx"></script>
    <script src='/static/js/overview.jsx' type="text/jsx"></script>
    <script src='/static/js/section.jsx' type="text/jsx"></script>
    <script src='/static/js/assignment.jsx' type="text/jsx"></script>
    <script src='/static/js/app.jsx' type="text/jsx"></script>
    
    <title>Metacognizant</title>
  </head>

  <body>
    <div id="app"></div>
  </body>

  </html>